<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabStopwatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A081896D1F8FA26C00D9DDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A08189811F8FA26C00D9DDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A081898C1F8FA26D00D9DDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
